img {
  max-width: 100%;
}

.inventory-card-img {
  max-height: 200px;
  object-fit: contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

img.lower-card-img {
  height: 50px;
}
